<div class="body">
  <div class="container">
    <div class="row">
        <div class="col col-md-4" *ngFor="let product of products" >
            <div class="card" style="width: 18rem;">
                <img [src]="product.image" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{product.name | titlecase}}</h5>
                  <p class="card-text">{{product.price | currency}}</p>
                  <button class="btn btn-primary">Buy</button>
                </div>
              </div>
        </div>
      </div>  
    </div>
</div>
